---
layout: default 
---
<!-- SK: layout: archive 

-->
<html>
<body>


<div style="text-align: center;">
<img src="assets\images\header.jpg" alt="Pulpit rock" width="1200" height="380" style="margin: 0 auto;" />
<h3>Welcome to sknet...... </h3>
</div>


</body>
</html>
<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->